*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1, h2, h3{
		font-family: 'Source Code Pro', 		monospace;
}
h1{
	font-size: 48px;
}
h2{
	font-size: 40px;
}
h3{
		font-size: 32px;
}
h4{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
a{
	text-decoration: none;
}
body{
	margin: 24px;
}
header nav{
	width: 100%;
	height: 66px;
	background-color: #efefef;
}
header nav img{
	width: 200px;
	height: auto;
	margin: 8px 0 0 12px;
}
header .hero-section{
	display: grid;
	place-items: center;
}
header .hero-section h2, h3{
	margin-bottom: 8px;
}
header .hero-section img{
	width: 300px;
	height: auto;
	border-radius: 50%;
	margin-top: 12px;
}
header .hero-section .hero-icon{
	font-size: 24px;
	color: #222;
	margin-right: 6px;
}
header .hero-section span{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 12px;
}

.profile-section{
	margin: 72px 0 24px 0;
}

.profile-section p{
	max-width: 800px;
	margin-top: 12px;
}


.education-section{
	margin: 72px 0 24px 0;
}
.education-section h2{
	margin-bottom: 12px;
}
.education-section .secondary-text{
	font-size: 18px;
	font-weight: bold;
}
.education-section small{
	font-family: font-family: 'Montserrat', sans-serif;
}

.employment-section{
	margin: 72px 0 24px 0;
	
}
.employment-section h4{
	margin: 24px 0 12px 0;
}
.employment-section ul{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.employment-section ul li{
	margin-bottom: 6px;
}


.skills-section{
	margin: 72px 0 24px 0;
}
.skills-section h2{
	margin: 24px 0 16px 0;
}
.skills-section p{
	margin-bottom: 12px;
}